
/* side bar */
.side-bar {
    position: sticky;
    top: 70px;
    left: 0;
    background-color: white;
    z-index: 1;
    height: 100vh;
  }
  .side-bar-link {
    color: rgb(111, 111, 116);
    font-size: 18px;
    transition: 0.3s;
    margin: 0 7px;
    border-radius: 6px;
  }
  .active {
    background-color: rgb(194, 187, 187);
    transition: 0.3s;
  }
  .side-bar-link :hover {
    color: black;
  }
  a {
    text-decoration: none !important;
  }
  
  .list-down:hover{ color: blue;}
  
  .side-item:hover{
    background-color: rgb(194, 187, 187);
    transition: 0.3s;
  }