.container {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }

  .customer-info,
  .order-info,
  .order-items-container {
    background-color: #f8f8f8;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .order-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .order-item-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust the width as needed */
  }

  .order-item-card img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    margin-bottom: 10px;
  }